*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
body 
{
    background: #080808;
    color: #fff;
}

#header
{
    width: 100%;
    height: 130vh;
    background-image: url(main.jpeg);
    background-size: cover;
    background-position: center-top;
}
.container
{
    padding: 10px 10%;
}
nav 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav span{
    color:#ff004f;
}
nav h5 span{
    margin: 0px;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after
{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 20px;
}
.header-text h1{
    margin-left: 0px;
    font-size: 60px;
    margin-top: 20%;
}
.header-text p{
    margin-left: 0px;
    font-size: 25px;
}
.header-text h1 span{
    color: #ff004f;
}

------aboutme----
#about{
    padding: 80px o;
    color:#ababab;
}
#about p strong{
    color:#b54769;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-lg-4{
    flex-basis: 35%;
}
.about.about-img
{
   width:100%;
   height:100px;
   border-radius:15px;
}
.about-col-lg-8{
   flex-basis: 60%; 
}
.nav-link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.nav-link:hover{
    color:#ababab;
}
.nav-link.active{

    color:#ababab;
}
.nav-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-link.active:hover::after
{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-pane.fade.show.active li span{
    color: #b54769;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
display: block;
}
.tab-pane.fade strong{
   color: #b54769;
    font-size: 16px; 
}


#project{
  padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work1{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work1 h5
{
    color:#fff;
}
.work1 img{
    width: 100%;
    height: 55%;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work h5{
    color:#fff;
}
.work img{
    width: 100%;
    height: 330px;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;
}
.work a{
    color:#b54769;
}
.work:hover img{
    transform: scale(1.1);
}
.work1:hover img{
    transform:scale(1.1);
}

/*------contact------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons a{
    text-decoration:none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display:inline-block;
    transition: trasform 0.5s;
}
.social-icons a:hover{
       color: #ff004f;
       transform: translateY(-5px);
}
.btn.btn2{
    font-size: 14px;
    display: inline-block;
    background:#ff004f;
}
.cotact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
.form btn2{
    padding: 14px 60px;
    font-size: 15px;
    margin-top: 20px;
   
    cursor: pointer;
}

/*--------small screen------*/
nav .bi{
    display: none;
}
 @media only screen and(max-width: 600px){
    
   #header {
    background-image: url("images/background\ small.jpeg");
    width: 100%;
    min-height: 100vh;              /* VERY IMPORTANT */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
   
 /* HERO TEXT POSITION FIX */
.hero-text {
    margin-top: 120px;   /* desktop */
}

/* Tablet */
@media (max-width: 992px) {
    .hero-text {
        margin-top: 180px;
    }
}

@media (min-width: 992px) {
    .hero-content {
        bottom: 50%;
        transform: translateY(50%);
        max-width: 500px;
    }

    .hero-content h1 {
        font-size: 48px;
    }
}

 }




